.stButton > button{
    background:whitesmoke;
    color: #111;
    border-radius: 15px;
    border: 1px solid #ddd;
    padding: 10px 16px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

[data-testid="stButton"] button:hover{
    background-color: #4f46e5;
    color: white;
    transform: scale(1.05);
    cursor: pointer;
    
}

[data-testid="stExpander"]{
    background-color: whitesmoke;
    color: black;
    border-radius: 15px;
    border: none;
    padding: 8px;
}

[data-testid="stExpander"]:hover{
    background-color:whitesmoke;
    color: black;
    transform: scale(1.05);
    cursor: pointer
}

[data-testid="stExpander"] details summary{
    background-color: whitesmoke;
    color: black;
    border-radius: 12px;
    padding: 10px;
    font-weight: 700;
}

[data-testid="stDownloadButton"] button{
    background: whitesmoke;
    color: #111;
    border-radius: 15px;
    border: 1px solid #ddd;
    padding: 10px 16px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

[data-testid="stDownloadButton"] button:hover{
    background-color: #4f46e5;
    color: white;
    transform: scale(1.05);
    cursor: pointer;
}

[data-testid="stVideo"] video {
    border: 3px solid #4f46e5;
    border-radius: 15px;
    padding: 5px;
    background-color: white;
    transition: all 0.3s ease;
}

[data-testid="stVideo"] video:hover {
    border-color: #6366f1;
    transform: scale(1.02);
}


[data-testid="stMetric"] {
    background: linear-gradient(135deg, #1f2937, #111827);
    border: 1px solid #374151;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
    transition: 0.3s ease-in-out;
}

[data-testid="stMetricLabel"] {
    font-size: 22px;
    color: #9CA3AF;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

[data-testid="stMetricValue"] {
    font-size: 50px;
    font-weight: bold;
    color: #22C55E;
}

[data-testid="stMetricDelta"] {
    font-size: 20px;
    font-weight: bold;
}

[data-testid="stMetric"] {
    text-align: center;
    align-items: center;
    justify-content: center;
}